.popup__button_disabled {
    background-color: white; 
    color: #666;
    border: 1px solid #666;
    cursor: not-allowed;
}

.popup__button_disabled:hover {
    background: white; 
    cursor: pointer;
  }

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}
